<!-- Copyright 2020 Dien Tran. -->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">
    <title>Tailwind CSS Color Picker</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-clipboard2@0.3.1/dist/vue-clipboard.min.js"></script>
</head>

<body>
    <div id="app" class="text-gray-200 font-sans font-normal w-screen h-screen flex flex-col overflow-hidden">
        <div class="text-2xl flex justify-center items-center bg-black flex-1 select-all">bg-black</div>
        <div class="flex flex-1 text-sm" v-for="color in colors" :key="color.id">
            <div class="flex flex-1" v-for="hue in 9" :="hue.id">
                <div :class="['bg-' + huetify(color, hue), visiblify(huetify(color, hue))]"
                    class="flex flex-col flex-1 justify-center items-center">
                    <div>
                        <p class="select-all" @click="copy('bg-' + huetify(color, hue))">
                            {{ 'bg-' + huetify(color, hue) }}
                        </p>
                    </div>
                    <div class="mt-2">
                        <p class="select-all" @click="copy('text-' + huetify(color, hue))">
                            {{ 'text-' + huetify(color, hue) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-2xl flex justify-center items-center bg-white text-gray-800 flex-1 select-all">bg-white
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    colors: ['gray', 'red', 'orange', 'yellow',
                        'green', 'teal', 'indigo', 'blue',
                        'purple', 'pink'
                    ]
                }
            },
            methods: {
                huetify: (color, index) => color + '-' + (index * 100),
                visiblify: (huetifyOutput) => parseInt(huetifyOutput[huetifyOutput.length - 3]) > 5 ?
                    'text-gray-200' : 'text-gray-800',
                copy: function (huetifyOutput) {
                    return this.$copyText(huetifyOutput);
                }
            },
        });
    </script>
</body>

</html>